:root {
	color-scheme: dark;
	font-family: system-ui, "Segoe UI", Roboto, sans-serif;
	color: #f3f4f6;
	background-color: #16171d;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
}

.app {
	min-height: 100svh;
	display: grid;
	place-items: center;
}
